# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
output
ontology
dependencies
package.json
fhirpkg.lock.json
!docs/package.json

# docs (vitepress)
docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache

